.vscode
config.ini
__pycache__
NLMCXR_dcm.tgz
NLMCXR_dcm
NLMCXR_subset_dataset
.pylintrc
*.log
build*
Release
*.egg-info
*.pro.user
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
