.vscode
__pycache__
NLMCXR_dcm.tgz
NLMCXR_dcm
NLMCXR_subset_dataset
Python/DesktopApp/NLMCXR_subset_dataset.tgz
Combined/DesktopApp/NLMCXR_subset_dataset.tgz
Python/DesktopApp/test_images.csv
Python/DesktopApp/full_set_classifier.joblib
.pylintrc
*.log
Release
*.egg-info
*.pro.user
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.pytest_cache
Combined/SharedCode/build/*
Python/SharedCode/build/*
*build-CXR_classify-Desktop*

