<!DOCTYPE HTML>
<html>

<head>
    <!-- twitter bootstrap CSS stylesheet - included to make things pretty, not needed or used by cornerstone -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet"> 
    <!-- include the cornerstone library -->
    <script src="https://cdn.jsdelivr.net/npm/cornerstone-core@2.0.0/dist/cornerstone.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cornerstone-math@0.1.6/dist/cornerstoneMath.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cornerstone-tools@2.0.0/dist/cornerstoneTools.js"></script>

    <!-- include the dicomParser library as the WADO image loader depends on it -->
    <script src="https://cdn.jsdelivr.net/npm/dicom-parser@1.7.6/dist/dicomParser.min.js"></script>

    <!-- include the cornerstoneWADOImageLoader library -->
    <script src="https://cdn.jsdelivr.net/npm/cornerstone-wado-image-loader@3.3.1/dist/cornerstoneWADOImageLoader.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>CXR Classification File Upload</h1>
            <p class="lead">
                Click "Choose File" and select a DICOM P10 file on your local file system or drag and drop a DICOM P10
                file.
            </p>
            <label id="selectFile" class="btn btn-primary" type="button">
                Browse <input type="file" hidden>
            </label>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div style="width:512px;height:512px;position:relative;color: white;display:inline-block;border-style:solid;border-color:black;"
                    oncontextmenu="return false" class='disable-selection noIbar' unselectable='on'
                    onselectstart='return false;' onmousedown='return false;'>
                    <div id="dicomImage" style="width:512px;height:512px;top:0px;left:0px; position:absolute">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <span>Transfer Syntax: </span><span id="transferSyntax"></span><br>
                <span>SOP Class: </span><span id="sopClass"></span><br>
            </div>
        </div>
    </div>
</body>

<!-- uids -->
<script src="../static/js/uids.js"></script>

<script src="../static/js/initializeWebWorkers.js"></script>

<script src="../static/js/main.js"></script>

</html>