<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DICOM Submit</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/submit.css') }}">
    <script src="https://unpkg.com/cornerstone-core/dist/cornerstone.js"></script>
</head>

<body>
    <input type="file" id="real-file" hidden="hidden" />
    <button type="button" id="file-choose-button" class="button">CHOOSE A FILE</button>
    <button type="button" id="send-button" class="button">SEND</button>
    <span id="custom-text">No file chosen, yet.</span>
    <script src="{{url_for('static', filename='js/submit.js')}}"></script>
</body>

</html>